.commentSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;

    img{
        border-radius: 50%;
        height: 32px;width: 32px;
        object-fit: cover;
    }

    .inputs{
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 30px;
        padding: 5px 10px;
        background-color: #e6e6e6;

        button{
            background-color: inherit;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            &:hover {
                background-color: rgb(204, 204, 204);
            }
        }
        

        input{
            background-color: transparent;
            flex: 1;
            border: none;
            padding: 10px;

            &:focus{
                outline: none;
            }
        }
    }
}